* {
	box-sizing: border-box;
}

:root {
	--color-gray: #72757e;
	--color-gray-alt: #94a1b2;
	--color-white: #fffffe;
	--color-dark: #16161a;
	--color-dark-alt: #242629;
	--color-black: #010101;
	--color-purple: #7f5af0;
	--color-green: #2cb67d;

	--radius: 0.25rem;
	--margin-top: 10.25rem;
}

html {
	font-family: sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-dark);
	color: var(--color-white);
	margin: 0;
	font-family: "DM Sans", sans-serif;
}
section {
	scroll-snap-align: start;
	min-height: 100vh;
	position: relative;
	padding-top: 0.0063rem;
}
a {
	text-decoration: none;
	color: var(--color-green);
}
nav,
ul {
	margin: 0;
}
h1,
h2,
p {
	margin: 0;
}
img {
	display: block;
	margin-inline: auto;
}

/* ##### containers ##### */

section.home,
section.aboutMe,
section.projects,
section.contactMe {
	display: flex;
	padding-inline: 1rem;
}

/* ##### home ##### */
#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

section.home {
	--max-width: 444px;
	--padding-container: 0;

	position: relative;
	justify-content: center;
	align-items: center;
}
.home__container {
	padding: var(--padding-container);
	max-width: var(--max-width);
}
.home__title {
	font-weight: bold;
	font-size: 2.5em;
}
.home__subtitle {
	margin-top: 1rem;
	color: var(--color-green);
	font-weight: bold;
	font-size: 1.125em;
}
.home__social {
	margin-top: 2rem;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

/* ##### aboutMe ##### */
section.aboutMe {
	--color-debug: lightpink;

	--max-width: 520px;
	--padding-container: 0;

	justify-content: center;
}
.aboutMe__container {
	margin-top: var(--margin-top);
	margin-bottom: calc(var(--margin-top) / 2);
	width: 100%;
	max-width: var(--max-width);
}
.aboutMe__information,
.aboutMe__knowledge {
	width: 100%;
	padding: var(--padding-container);
}
.aboutMe__information {
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.aboutMe__title {
	font-size: 1.75em;
}
.aboutMe__paragraph {
	margin-top: 32px;
	font-size: 1em;
	line-height: 1.4;
	color: var(--color-gray-alt);
}
.aboutMe__knowledge {
	margin-top: 4rem;
}
.aboutMe__knowledge--alt {
	display: none;
}

/* ##### projects ##### */
section.projects {
	--max-width: 520px;
	--padding-container: 0;

	justify-content: center;
	align-items: flex-start;
}
.projects__container {
	margin-top: var(--margin-top);
	margin-bottom: calc(var(--margin-top) / 2);
	width: 100%;
	max-width: var(--max-width);
}
.projects__title {
	font-size: 1.75em;
}
.projects__flex {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

/* ##### contactMe ##### */
section.contactMe {
	--max-width: 480px;
	--padding-container: 0;

	justify-content: center;
	align-items: flex-start;
}
.contactMe__container {
	margin-top: var(--margin-top);
	margin-bottom: calc(var(--margin-top) / 2);
	width: 100%;
	max-width: var(--max-width);
	padding: var(--padding-container);

	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.contactMe__title {
	font-size: 1.75em;
}

@media (min-width: 474px) {
	/* ##### home ##### */
	section.home {
		--padding-container: 1rem;
	}

	/* ##### aboutMe ##### */
	.aboutMe__information,
	.aboutMe__knowledge {
		--padding-container: 1rem;
	}

	/* ##### projects ##### */
	section.projects {
		--padding-container: 1rem;
	}

	/* ##### contactMe ##### */
	.contactMe__container {
		--padding-container: 1rem;
	}
}

@media (min-width: 768px) {
	/* ##### home ##### */
	section.home {
		--max-width: 32.5rem;
		font-size: 1.25rem;
	}
	/* ##### aboutMe ##### */
	section.aboutMe {
		--max-width: 42.5rem;
		font-size: 1.25rem;
	}
	/* ##### projects ##### */
	section.projects {
		--max-width: 42.5rem;
		font-size: 1.25rem;
	}
	/* ##### contactMe ##### */
	section.contactMe {
		/* --max-width: 42.5rem; */
		font-size: 1.25rem;
	}
}

@media (min-width: 1024px) {
	/* ##### home ##### */
	section.home {
		--max-width: 42.5rem;
		font-size: 1.5rem;
	}

	/* ##### aboutMe ##### */
	section.aboutMe {
		--max-width: 57.5rem;
		font-size: 1.25rem;
		align-items: flex-start;
	}
	.aboutMe__information {
		flex-direction: row;
		align-items: center;
	}
	.aboutMe__knowledge {
		display: none;
	}
	.aboutMe__knowledge--alt {
		display: block;
	}
	.aboutMe__subtitle {
		font-size: 1.3em;
	}
	/* ##### projects ##### */
	section.projects {
		--max-width: 57.5rem;
		font-size: 1.25rem;
	}
	/* ##### contactMe ##### */
	section.contactMe {
		/* --max-width: 41rem; */
		font-size: 1.25rem;
	}
}
