.projectCard {
	flex: 0 1 390px;
	background-color: var(--color-dark-alt);
	padding: 1rem;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.projectCard__image {
	width: 100%;
	height: 13.125rem;
	background-color: var(--color-purple);
}
.projectCard__image img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.projectCard__title {
	font-size: 1.125em;
	font-weight: bold;
}
.projectCard__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.projectCard__type {
	font-size: 0.875em;
	font-weight: bold;
	color: var(--color-gray-alt);
}
.projectCard__links {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.projectCard__github {
	fill: var(--color-green) !important;
}
.projectCard__button {
	background-color: var(--color-green);
	color: var(--color-white);
	padding: 0.5rem;
	display: inline-block;
	border-radius: var(--radius);
}
