.slider {
	--size-element: 64px;
	--gap-elements: 16px;

	--slider-track-width: calc(calc(var(--size-element) * 12) + calc(var(--gap-elements) * 11));

	overflow: hidden;
	margin-inline: auto;
	width: 100%;
	margin-top: 2rem;
	max-width: calc(var(--slider-track-width) / 2);
}
.slider__track {
	list-style: none;
	display: flex;
	gap: var(--gap-elements);
	padding: 0;
	animation: scroll 10s linear infinite;
	width: var(--slider-track-width);
}
.slider__slide {
	flex-shrink: 0;
	width: var(--size-element);
	height: var(--size-element);
}
.slider__slide img {
	max-width: 100%;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-1 * calc(var(--slider-track-width) / 2)));
	}
}

@media (min-width: 1024px) {
	.slider {
		margin-inline: 0;
	}
}
