---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jhoel Barrera Portfolio</title>
		<style>
			body {
				background-color: #16161a;
				color: #fffffe;
			}
		</style>
	</head>
	<body>
		<nav>
			<ul>
				<li>Inicio</li>
				<li>Sobre mi</li>
				<li>Proyectos</li>
				<li>Contacto</li>
			</ul>
		</nav>
		<section>
			<h1>Hola, soy Jhoel Barrera y este es mi primer sitio en Astro</h1>
			<p>Diseñador UI y maquetador web</p>
			<div>
				<img src="/Icons/GitHub.svg" alt="" />
				<img src="/Icons/LinkedIn.svg" alt="" />
			</div>
		</section>
	</body>
</html>
