---
import "../styles/form.css";
---

<form action="#" class="form">
	<div class="input-container">
		<div class="input-item">
			<label for="email" class="form__label">Correo electrónico</label>
			<input type="text" id="email" autocomplete="off" class="form__email" />
		</div>
	</div>
	<div class="textarea-container">
		<div class="textarea-item" class:list="form__label">
			<label for="message" class="form__label">Deje su mensaje</label>
			<textarea id="message" class="form__message"></textarea>
		</div>
	</div>
	<input type="submit" value="Enviar" class="form__button" />
</form>

<script>
	const inputContainer = document.querySelector(".input-container");
	const inputEmail = document.querySelector(".form__email");

	const textareaContainer = document.querySelector(".textarea-container");
	const textarea = document.querySelector(".form__message");

	inputEmail.addEventListener("click", () => {
		inputContainer.classList.toggle("input-container--active");
		if (inputContainer.classList.length === 1) {
			inputEmail.blur();
		}
	});

	textarea.addEventListener("click", () => {
		textareaContainer.classList.toggle("textarea-container--active");
		if (textareaContainer.classList.length === 1) {
			textarea.blur();
		}
	});
</script>
