---
import "../styles/slider.css";
---

<div class="slider">
	<ul class="slider__track">
		<li class="slider__slide"><img src="/Logos/HTML_icon.svg" alt="Html icon" /></li>
		<li class="slider__slide"><img src="/Logos/CSS_icon.svg" alt="Css icon" /></li>
		<li class="slider__slide"><img src="/Logos/SASS_icon.svg" alt="Sass icon" /></li>
		<li class="slider__slide"><img src="/Logos/JS_icon.svg" alt="Js icon" /></li>
		<li class="slider__slide"><img src="/Logos/GIT_icon.svg" alt="Git icon" /></li>
		<li class="slider__slide"><img src="/Logos/FIGMA_icon.svg" alt="Figma icon" /></li>

		<li class="slider__slide"><img src="/Logos/HTML_icon.svg" alt="Html icon" /></li>
		<li class="slider__slide"><img src="/Logos/CSS_icon.svg" alt="Css icon" /></li>
		<li class="slider__slide"><img src="/Logos/SASS_icon.svg" alt="Sass icon" /></li>
		<li class="slider__slide"><img src="/Logos/JS_icon.svg" alt="Js icon" /></li>
		<li class="slider__slide"><img src="/Logos/GIT_icon.svg" alt="Git icon" /></li>
		<li class="slider__slide"><img src="/Logos/FIGMA_icon.svg" alt="Figma icon" /></li>
	</ul>
</div>
